/* /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  /* background-color: #284b63; */

/* color: #611414; */
/* }

h1 {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}

nav {
  font-size: 18px;
}

span {
  font-size: 12px;
}

a {
  color: #8c943c;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-right: 18px;
}

.navbar {
  width: 100%;
  height: 120px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#e0d971, #0d0e10);
  color: #611414;
  margin-bottom: 30px;
}
.navigation-area {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 80%;
}

.auth {
  display: flex;
  flex-flow: column;
  padding-left: 36px;
} */

/* html {
  height: 100%;
} */
/* body {
  font-family: sans-serif;
  height: 100vh;
  background-image: linear-gradient(#627c8d, #153243);
} */

/* .navbar {
  width: 100%;
  height: 120px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#e0d971, #0d0e10);
  color: #611414;
  margin-bottom: 30px;
}
a {
  color: #f4f9e9;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-right: 18px;
} */
/* label {
  display: block;
}
.navigation-area {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 80%;
}
nav a {
  display: inline-block;
  margin: 1em;
}
h1 {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}
 */
/* body {
  display: flex;
  align-items: center;
  justify-content: center;
} */
main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#leaderboard {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.modal.form {
  display: flex;
  justify-content: center;
}
